fiona==1.10.1
geopandas==1.0.1
ipython==8.32.0
ipywidgets==8.1.5
itables==2.2.4
jupyter==1.1.1
morecantile==6.2.0
numpy==2.2.2
pandas==2.2.3
plotly==6.0.0
plotly-express==0.4.1
poetry==2.0.1
radian==0.6.13
scipy==1.15.1
seaborn==0.13.2
shapely==2.0.7
shiny==1.2.1
shinylive==0.7.3
shinywidgets==0.5.1
